.windowTitle {
	
	background-color: #000080;
	color: #F6F6F6;
	font-size: 4em;
	font-family: Roboto, Verdana;
	
}

body {
	
	font-family: Roboto, Verdana, Arial;
	background-color: #F6F6F6;
	color: #000080;
}


.btn {
	
	background-color: #FC8A15;
	color: #F6F6F6;
	width: 9em;
	height: 3em;
}

.card {
	color: #009378
}

a, a:hover {
	text-decoration: none;
	color: #000080;
}

.subpageTitle {
	color: #FC8A15;
}

.card {
	color: #000080;
}

.list-group-item.active {
	background-color: #FC8A15;
}

.list-group-item {
	
}