<div class="card">
    <div class="card-block">
      <h2 class="card-text text-center">Don't have an account? <strong>Sign Up </strong> </h2>
    </div>
    </div>

<div [ngSwitch]="(authState$ | async).signUpStatus">
  <div *ngSwitchCase="ProcessStatus.Error">Error while signing up</div>
  <div *ngSwitchCase="ProcessStatus.Success">Signed up successfully. You can now
    <a [routerLink]="['/auth/sign-in']">sign in here</a>

  </div>
</div>

 <form class="mt-5 col-4 offset-4" [formGroup]="signUpForm" novalidate (ngSubmit)="signUp()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" >
        </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" >
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" >
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Optional" >
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Optional">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Optional">
        </div>
            <button type="submit" class="btn btn-primary" [disabled]="(authState$ | async).signUpStatus === ProcessStatus.InProgress">Create account</button>
  </form>
