<div *ngIf="(authState$ | async).signInStatus === ProcessStatus.Error">
   Error while signing up
</div>

<h2 class="mt-5 mb-3 text-center">Login to your account: </h2>
<form class="col-4 offset-4">
  <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" id="username" name="username" >
        </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control"  [(ngModel)]="password" id="password" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary" (click)="signIn()">Submit</button>
          <div>
    Don't have an account? <a [routerLink]="['/auth/sign-up']">Sign up!</a>
  </div>
</form>
