Sign in page

<div *ngIf="(authState$ | async).signInStatus === ProcessStatus.Error">
   Error while signing up
</div>

<form>
  <div>
    Username: <input type="text" [(ngModel)]="username" name="username">
  </div>
  <div>
    Password: <input type="password" [(ngModel)]="password" name="password">
  </div>

  <button class="btn btn-primary" (click)="signIn()"
    [disabled]="(authState$ | async).signInStatus === ProcessStatus.InProgress">
    Sign in
  </button>

  <div>
    Don't have an account? <a [routerLink]="['/auth/sign-up']">Sign up!</a>
  </div>
</form>
