.sidebar-wrapper {
  height: 100vh;
  border-right: 2px solid black;
  width: 200px;
  background: white;
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-hidden {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidebar-item {
  cursor: pointer;
}

