<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- <link type="text/css" rel="stylesheet" href="css/sdasdasd" /> --> 
		<link type="text/css" rel="stylesheet" href="../css/bodyStylesheet.css">

	<title>Main Page</title>

	
	</style>
  </head>
  
  <body>
    <div class="container-fluid">
		<div class="row">
			<div name="hamburger" class="col-xs-2 col-2" style="height: 100vh; border: 2px solid; border-top:0; border-left:0; border-bottom:0;">
				<p class="mt-3 ">Logged as:</p> <p class="mb-5">Grzegorz "Gelio" Rozdzialik</p>
				

					<ul class="list-group " style="width: 100%">
						<li class="list-group-item active">My groups</li>
						<li class="list-group-item">My tasks</li>
						<li class="list-group-item">Create group</li>
						<li class="list-group-item">Account settings</li>
						<li class="list-group-item">Logout</li>
					</ul>
					
			
			</div>
			<div class="col-xs-10 col-10">
			  <div class="row mb-2" >
				<div class="col-12">
					<div class="windowTitle" style="text-align: center">App Name</div>
				</div>
			  </div>
			  
			  <h1 class="mt-5 bm-2 ml-3">Recent activity: </h1>
			  
			  <div class="row">
				<div class="col">
					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Date</th>
						  <th>Group Name</th>
						  <th>Task Title</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <th scope="row">1</th>
						  <td>12.12.2012</td>
						  <td>BD</td>
						  <td>Kolokwium</td>
						</tr>
						<tr>
						  <th scope="row">2</th>
						  <td>14.06.2017</td>
						  <td>ASD2</td>
						  <td>Egzamin kurwy</td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>30.06.2017</td>
						  <td>Takie tam</td>
						  <td>Koniec semestru</td>
						</tr>
					  </tbody>
					</table>
				</div>
			  </div>
			  
			  <h1 class="mt-5 bm-2 ml-3">Upcoming tasks: </h1>
			  
			  <div class="row mb-3" >
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Task title</th>
								<th>Checked</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
									<td>12.12.2012</td>
								<td>BD</td>
								<td>
									<input type="checkbox"/>
								</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>14.06.2017</td>
								<td>ASD2</td>
								<td>Egzamin kurwy</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>30.06.2017</td>
								<td>Takie tam</td>
								<td>Koniec semestru</td>
							</tr>
						</tbody>
					</table>
				</div>
			  </div>
			</div>
		</div>
		
		
	</div>

	</div>
	
	
	
	
	
	<!-- -->
	
	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>