<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- <link type="text/css" rel="stylesheet" href="css/sdasdasd" /> --> 
	<link type="text/css" rel="stylesheet" href="../css/bodyStylesheet.css">
	<title>My groups</title>
	
  </head>
  
  <body>
    <div class="container-fluid">
		<div class="row">
			
			<div name="hamburger" class="col-xs-2 col-2" style="height: 100vh; border: 2px solid; border-top:0; border-left:0; border-bottom:0;">
				<p class="mt-3 ">Logged as:</p> <p class="mb-5">Grzegorz "Gelio" Rozdzialik</p>
					<ul class="list-group " style="width: 100%">
						<li class="list-group-item active">My groups</li>
						<li class="list-group-item">My tasks</li>
						<li class="list-group-item">Create group</li>
						<li class="list-group-item">Account settings</li>
						<li class="list-group-item">Logout</li>
					</ul>
			</div>
			
			
			<div class="col-xs-10 col-10">
			  <div class="row mb-2" >
				<div class="col-12">
					<div class="windowTitle" style="text-align: center">My groups</div>
				</div>
			  </div>
			  
			  
			  <div class="row mt-5">
				<div class="container">
					<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Group name</th>
						  <th>Group founder</th>
						  <th>Your status</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <th scope="row">1</th>
						  <td>BD</td>
						  <td>Grzegorz Rozdzialik</td>
						  <td>User</td>
						</tr>
						<tr>
						  <th scope="row">2</th>
						  <td>ASD2</td>
						  <td>Herr Bordziński</td>
						  <td>User</td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>SOP2</td>
						  <td>Borissomo</td>
						  <td>User</td>
						</tr>
						<tr>
						  <th scope="row">4</th>
						  <td>PWŚG grupa 6</td>
						  <td>Marek Owczarek</td>
						  <td>User</td>
						</tr>
						
						<tr>
						  <th scope="row">5</th>
						  <td>ŻÓŁĆ inc.</td>
						  <td>Przemysław Wódkiewicz</td>
						  <td>Admin</td>
						</tr>
						
						<tr>
						  <th scope="row">6</th>
						  <td>ŻÓŁĆ inc.</td>
						  <td>Przemysław Wódkiewicz</td>
						  <td>Admin</td>
						</tr>
						
						<tr>
						  <th scope="row">7</th>
						  <td>ŻÓŁĆ inc.</td>
						  <td>Przemysław Wódkiewicz</td>
						  <td>Admin</td>
						</tr>
						
						<tr>
						  <th scope="row">8</th>
						  <td>ŻÓŁĆ inc.</td>
						  <td>Przemysław Wódkiewicz</td>
						  <td>Admin</td>
						</tr>
					  </tbody>
					</table>
				</div>
			  </div>
			  
			  
			</div>
		</div>
		
		
	</div>


	
	
	
	
	
	<!-- -->
	
	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>