
<div [ngSwitch]="(dashboardState$ | async).loadStatus">
  <div *ngSwitchCase="ProcessStatus.InProgress">Downloading tasks</div>
  <div *ngSwitchCase="ProcessStatus.Error">Error while downloading tasks</div>
  <div *ngSwitchCase="ProcessStatus.Success">

<div class="col-xs-10 col-10">
        <div class="row mb-2" >
          <div class="col-12">
            <div class="windowTitle" style="text-align: center">Dashboard</div>
          </div>
        </div>
    <h1 class="mt-5 bm-2 ml-3 subpageTitle">Recently added tasks: </h1>

        <div class="card">
          <div class="card-header" role="tab">
            <div class="row panel-heading">
              <div class="col-1">
                <strong>#</strong>
              </div>

              <div class="col-2">
                <strong>Date</strong>
              </div>

              <div class="col-2">
                <strong>Task group</strong>
              </div>

              <div class="col-6">
                <strong>Task</strong>
              </div>

              <div class="col-1">
                <strong>Done</strong>
              </div>
            </div>

          </div>

        </div>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="row panel-heading">
                <div class="col-1">
                  1
                </div>

                <div class="col-2">
                  12:45 28.05.2017
                </div>

                <div class="col-2">
                  ASD2
                </div>

                <div class="mb-0 col-6">
                  <h5 >
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ważna wiadomość
                  </a>
                </h5>
                </div>


                <div class="col-1">
                  <input type="checkbox"/>
                </div>
              </div>

            </div>

            <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                Elo mordeczki co tam w wielkim swiecie slychac
              </div>
            </div>
          </div>
        </div>


        <div>
          <h1 class="mt-5 bm-2 ml-3 subpageTitle">Upcoming deadlines:</h1>

          <div class="card">
            <div class="card-header" role="tab">
              <div class="row panel-heading">
                <div class="col-1">
                  <strong>#</strong>
                </div>

                <div class="col-2">
                  <strong>Due date</strong>
                </div>

                <div class="col-2">
                  <strong>Task group</strong>
                </div>

                <div class="col-6">
                  <strong>Task</strong>
                </div>

                <div class="col-1">
                  <strong>Done</strong>
                </div>
              </div>

            </div>

          </div>

          <div id="accordion" role="tablist" aria-multiselectable="true" *ngIf="(dashboardState$ | async).dashboardTasks">
            <app-task-row *ngFor="let task of (dashboardState$ | async).dashboardTasks; let i = index;"
              [task]="task" [index]="i" (taskDone)="onTaskDone($event.task, $event.index)">
            </app-task-row>
        </div>
  </div>
</div>
