<div class="container">
  <div [ngSwitch]="(groupsState$ | async).loadStatus">
    <div *ngSwitchCase="ProcessStatus.Error">Error while loading groups</div>
    <div *ngSwitchCase="ProcessStatus.InProgress">Loading groups...</div>
    <div *ngSwitchCase="ProcessStatus.Success">
      <ul>
        <li *ngFor="let group of (groupsState$ | async).groups">
          <a [routerLink]="['/group', group.name]">
            {{ group.name }} ({{ group.uncompleted_tasks.length }} uncompleted tasks)
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
