

.windowTitle {

	background-color: #000080;
	color: #F6F6F6;
	font-size: 4em;

}

body {

	background-color: #F6F6F6;
	color: #000080;
}


.btn {
	text-align: center;
	background-color: #FC8A15;
	color: #F6F6F6;
	width: 8.5em;
	min-width: 8.5em;
	height: 3em;
}


.card {
	color: #009378
}

a, a:hover {
	text-decoration: none;
	color: #000080;
}

.subpageTitle {
	color: #FC8A15;
}

.card {
	color: #000080;
}

.list-group-item.active {
	background-color: #FC8A15;
}

.list-group-item {

}
